
monRDV-model/\.settings/

monRDV-model/target/

monRDV-model/\.classpath

monRDV-model/\.project

monRDV-jpa/\.settings/

monRDV-jpa/target/

monRDV-jpa/\.classpath

monRDV-jpa/\.project
/.metadata/

monRDV-model/src/main/java/monRDV/model/Specialite\.java
